<link rel="stylesheet" href="/angular-crud/src/app/shared/header/header.component.css">

<nav class="navbar">
    <div class="navbar-container">
        <a class="navbar-logo" href="Logo da aplicação"></a>
        <ul class="navbar-list">
            <li class="navbar-item">
                <a href="Home">Home</a>
            </li>
            <li class="navbar-item">
                <a href="Cadastro">Cadastro</a>
            </li>
            <li class="navbar-item">
                <a href="login">login</a>
            </li>
             <li class="navbar-item">
                <a href="SOBRE">sobre</a>
            </li>    
        </ul>
    </div>
</nav>
